.flex-group{ 
    align-items: center;
}

.title{
    font-size: 4em;
    padding-top: 10%;
}

.modal{
    bottom: 15%;
    position: absolute;
    padding-left: auto;
    padding-left: auto;
}

.flex-item-search-box{
    /* height: 10em; */
    /* width: 25em; */
    width: 40%;
    padding-top: 5%;
}



.flex-item-search-box svg{
    width: 105%;
    height: 105%;
    margin-left: 4px;
}

.flex-item-search-box input{
    padding-left: 2em;
}

.flex-item-search-box >div >div{
    width: 190%;
}

.flex-item-search-box >div >div button{
    padding-right: 100%;
}

.euiOverlayMask div{
    margin-left: -25%;
}

.euiOverlayMask div div{
    margin-left: 0;
}