.body {
  font-size: 1em;
  margin: 5vh 15vw 15vh 15vw;
}

.article {
  font-size: 2vh;
  margin-top: 5vh;
}

.article__title {
  font-weight: bold;
}

.article__source{
  font-size: 1.5vh;
}

.article__detail {
  font-weight: lighter;
  margin-top: 7vh;
}