.header {
  display: flex;
  min-width: 475px;
  margin-top: 5vh;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.h1 {
  font-size: 2vh;
  height: 20px;
  margin-left: vw;
}

.input {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 1vh;
  width: 75vw;
  margin-left: 5vw;
  max-width: 600px;
}
.input > input {
  flex: 1;
  padding: 0.5vw 1vw;
  border: none;
  font-size: 2vh;
}

.input > input:focus {
  outline-width: 0;
}

.header > button {
  flex: 1;
  height: 50px;
  max-width: 80px;
  margin: 0vh 7vw 0vh 3vw;
  border-radius: 1vh;
  /* margin-left: 10vw; */
}

.body {
  font-size: 1em;
  margin: 5vh 15vw 15vh 15vw;
}

.article {
  font-size: 2vh;
  margin-top: 4vh;
}

.article__title {
  font-weight: bold;
}

.article__detail {
  font-weight: lighter;
  margin-top: 2vh;
}
