.body {
  font-size: 2vh;
  margin: 5vh 15vw 15vh 15vw;
}

.title {
  font-weight: bold;
}

.source{
  font-size: 1.5vh;
}

.detail {
  font-weight: lighter;
  margin-top: 7vh;
}

.attachments{
  margin-top: 5vh;
}

.attachment{
  margin-top: 1vh;
}