/* .search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height:30px;
    padding: 10px 20px;
    border-radius: 999px;
    width:75vw;
    margin:0 auto;
}
.search__input > input{
    flex:1;
    padding: 10px 20px;
    
} */